form {
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  display: inline-grid;
  padding: 60px;
  border-radius: 20px;
  margin-inline: auto;
  width: 500px;
  margin-inline: 600px;
  margin-block: 100px;
}
h2 {
  text-align: center;
  font-size: 28px;
}
label {
  padding-bottom: 8px;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
input:focus {
  border: 2px solid #007bff;
  outline: none;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}
button {
  padding-block: 10px;
  margin-top: 20px;
}
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
