.grade-item {
  margin-inline: auto;
  text-align: center;
  padding-inline: 300px;
  padding-block: 50px;
  background-color: blue;
  display: inline-block;
  margin-inline: 480px;
  margin-top: 200px;
  border-radius: 20px;
  background: rgba(63, 120, 224, 0.5);
  backdrop-filter: blur(20px);
}
h3 {
  font-size: 50px;
  color: blue;
}
label {
  font-size: 30px;
}
input {
  padding: 10px;
  margin-bottom: 20px;
}
